
#header {
    width:500px; 
    background-color:#ffd800; 
    border:1px solid #808080;
    text-align:center;
}

#SheName {
    width:500px; 
    background-color:#ffd800; 
    border:5px solid #808080;
    text-align:center;
}